/* custom font */
@font-face {
    font-family: 'Rukia';
    src: url('assets/rukia.ttf') format('truetype');
    font-size: large;
}

/* custom colors */
:root {
    --black: #0F0F0F;
    --lime: #CCFF00;
    --white: #F8F8F8;
    --gray: #393939;
    --light-gray: #A8A8A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
}

header {
    color: #fff;
    padding: 1.5rem 3rem;
}

header nav {
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo img{
    height: 2rem;
}

header .nav-links {
    background-color: var(--gray);
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    list-style: none;
    display: flex;
}

header .btn {
    background-color: var(--gray);
    color: var(--white);
    padding: 0.25rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s; /* Smooth transition */
}

header .btn:hover {
    background: var(--black); /* Change to desired hover background color */
}

header .btn-login {
    background: var(--lime);
    color: #333;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 15px;
}

.hero {
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-family: 'Rukia', sans-serif;
    font-size: 5rem;
    font-weight: 100;
    line-height: 1;
    padding: 3rem 0rem 1.5rem 0rem;
    position: relative;
}

.hero h3 {
    padding-top: 1.5rem;
    color: var(--light-gray);
    font-family: 'Montserrat';
    font-weight: 500;
}

.hero span {
    color: var(--lime);
    position: relative;
    display: inline-block;
}

.hero img {
    position: absolute; 
    bottom: -20px; 
    left: 55%;
    transform: translateX(-50%);
}

.btn-insider {
    background: var(--lime);
    color: var(--black);
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 35px;
    font-size: 1rem;
    font-weight: 700;
    height: 35px;
    transition: all 0.3s;
}

.btn-insider:hover {
    padding: 0.3rem 1.85rem;
    background-color: var(--black);
    color: var(--white);
    border: solid 3px var(--lime);
}

footer {
    color: var(--lime);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .ftr{
    font-weight: 700;
    border: solid var(--lime);
    border-width: 2px;
    border-radius: 30px;
    justify-content: center;
    padding: 0.25rem 2rem;
}

@media (max-width: 768px) {
    header .nav-links {
        display: none;
    }

    header .nav-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .nav-links li {
        margin: 0;
        margin-bottom: 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .btn-primary {
        font-size: 1rem;
    }
}